:root {
    ----text-color: #1a1c20;
    --link-color: #4a76ee; 
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    text-align: center;
    align-items: center;
    height: 80px;
}

nav .left a {
    color : var(--text-color);
    font-weight: 600;
    font-size: 22px;
}

nav .right a {
    color : var(--text-color);
    padding: 5px 10px;

}

#email {
    color: var(--background-color);
    background-color: var(----text-color);
    padding: 5px 15px;
    border-radius: 10px;
}

nav .right a span {
    margin-left: 5px;
}
 
@media (max-width: 600px) {
    /* NAV-BAR */
    nav .right a span{
        display: none;
        padding: 0px;
    }

    #email {
        color: var(--text-color);
        background-color: var(--background-color);
        padding: 0px 0px ;
    }
}

/* HERO SECTION RES */
@media (max-widht: 740px) {
    .hero-section .text h2{
        font-size: 35px;
    }
}

@media (max-widht: 750px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-section .headshot img {
        width: 300px
    }
}



/* SECTION-1 */

.hero-section {
    display: flex;
    justify-content: space-between ;
    padding: 0 50px;
    margin: 70px 0;
    align-items: center;
    gap: 50px;
    margin-top: px;
}


.hero-section .text {
    flex: 5;
}
 
.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text  .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 25px;
    transition: transform .3s ease;
}

.hero-section  .links a:hover {
    color: var(--text-color);
    border: 2px solid var(----text-color);
    transform: scale(1.1);
}



.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    border-radius: 50%; 
    margin-right: 50px;

}

/* SKILL SECTION RES */
@media(max-width: 600px){
    .skills-section {
        padding: 0px 20px;
    } 

    .skills-section .cells .cell span{ 
        font-size: 20px;

    }
    


}

/* SKILL SECTION */

.skills-section{
    padding: 0 25px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}

.skills-section .text {
    font-weight: 20px;
    text-align: center;
    margin-bottom: 30px;
} 

.skills-section .cells {
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    align-items: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 200px;
   padding: 10px 20px;
   margin: 10px;
   border: 1.5px solid black;
   border-radius: 5px;
   transition: .3s ease;
}

.skills-section .cells .cell img{
   width: 50px;
   height: 50px;
   border-radius: 5px;
}

.skills-section .cells .cell:hover {
    transform: scale(1.1);
}






